.rocket {
  display: flex;
  align-items: flex-end;
  position: absolute;
  transition: all 0.3s ease;

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .rocket-img {
      position: absolute;
      width: 102px;
      z-index: 10;
    }

    .landing-gear-img {
      width: 68px;
    }
  }

  .smoke-one {
    width: 65px;
    position: absolute;
    right: 100%;
    transition: all 0.3s ease;
    transform-origin: right bottom;
  }

  .smoke-two {
    width: 52px;
    position: absolute;
    left: 100%;
    transition: all 0.3s ease;
    transform-origin: left bottom;
  }
}

.flying {
  .smoke-one {
    animation: smokeOne 0.2s ease infinite;
    transform: rotate(-90deg) translateY(25px);
  }
  .smoke-two {
    animation: smokeTwo 0.2s ease infinite;
    transform: rotate(90deg) translateY(25px);
  }
}

@keyframes smokeOne {
  0%,
  100% {
    width: 25px;
  }
  50% {
    width: 50px;
  }
}

@keyframes smokeTwo {
  0%,
  100% {
    width: 50px;
  }
  50% {
    width: 25px;
  }
}
